<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="bootstrap.css">
    <title>contact us</title>
</head>
<body>
    <div id="contact">
         <div class="container">
            <div class="row">
                <div class="col-6">
                    <div id="message">

                        <label for="name">Your name:</label>
                        <input type="text" class="input"><br>
                        <label for="name">email id:</label><br>
                        <input type="text" class="input">
                        <br>
                        <label for="">Your message: </label> <br>
                         <textarea name="" id="" cols="30" rows="10" style="resize: none;" > </textarea> 
                         <br>
                         <button class="btn btn-danger w-50 h-5 ">SENT</button>
                    </div>
                </div>
                
                <div class="col-6">
                     <h3 style="border-bottom: 2px solid black;">ALSO CONTACT US ON</h3>
                     <span>
                        <i></i>
                     </span>
                </div>
            </div>
         </div>
    </div>
</body>
</html>