<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
    <div class="container mt-3">
       <div class="row mt-5">
        <div class="col mt-lg-5">
            <ul>
                <li class="list"><a href="#home">home</a></li>
                <li class="list"><a href="#home">contact</a></li>
                <li class="list"><a href="#home">about us</a></li>
            </ul>
            <div class="col text-center font-monospace">
              <ul>
                  <h3>
                      WEBSITE BY:
                  </h3>
                  <h2>
                     Omkar Dhawan
   
                  </h2>

              </ul>
            </div>
        </div>
       </div>
    </div>
    </footer>
    </body>
</body>
</html>