<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Luckiest+Guy&family=Permanent+Marker&family=Roboto:wght@100&family=Rubik+Bubbles&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="home.css"> 
   <link rel="stylesheet" href="bootstrap.css">
   <link rel="stylesheet" href="footer.css">
   <title>Document</title>
</head>
<body>
    <!--nav and content-->    
    <div id="nav">
        
        <div class="container" id="navcontainer">
            <div class="row">
                <div class="col-6" id="name">
                              <h1>bookyoutable.com</h1>
                        </div>
                        
                        <div class="col-6" id="navbox">
                            <ul>
                                <li class="navlist"><a href="#" class="text-lg">HOME</a></li>
                                <li class="navlist"><a href="http://localhost:5500/contact" class="text-lg">CONTACT US</a></li>
                                <li class="navlist"><a href="#" class="text-lg">ABOUT US</a></li>
                                <li class="navlist"><a href="#hotel">HOTEL</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
            <div id="image">
                <div class="row">
                    <div class="col">
                        <div id="intromessage">
                            <div id="introtext">
                                
                                <h3>WANT TO DO CELEBRATION????</h3>
                                <h3>but,WORRY ABOUT PLACE</h3>
                                <h1>Don't WORRY</h1>
                                <p>check out on this website and book your table in your favrouite restaurant!!!!</p>

                            </div>
                        </div>
                    </div>
                </div> 
                </div> 
            
            <%-include('hotels')-%>
            
<%-include('footer')-%>
</body>
<script src="home.js">


</script>
</html>