<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="hotels.css">
    <title>HOTELS</title>
</head>
<body>
    <div class="container h-100 shadow-lg" id="hotel">
    <div class="row" >
     <div class="col text-center">
        <h3>Select your fav restaurant: </h3>  
     </div>  
    </div>


   <div class="row  h-75 flex-column align-content-center mt-5">
    <div class="col  h-50 w-50 shadow-lg my-2">
              <div class="row">
                <div class="col-3 mt-1 h-auto">
                    <img src="images (10).jpeg" alt="" id="img">
                </div>
                <div class="col-9 mt-2">
                    <h3>HOTEL ALOHA</h3>
                    <a>OPEN TIMING-11AM TO 11PM</a><br>
                    
                    <a>RATING-⭐⭐⭐⭐⭐</a><br>
                    <br>
                    <a href="http://localhost:5500/aloha">
                    <button class="btn btn-outline-info  rounded-5 w-75 check  " >
                        CHECK
                    </button>
                </a>
                </div>
              </div>
    </div>
    <div class="col  h-50 w-50 shadow-lg my-2">
        <div class="row">
            <div class="col-3 mt-1 h-auto">
                <img src="images (18).jpeg" alt="" id="img">
            </div>
            <div class="col-9 mt-2">
                <h3>HOTEL swan</h3>
                <a>OPEN TIMING-11AM TO 11PM</a><br>
                <a>RATING-⭐⭐⭐⭐⭐</a><br>
                <br>
                <a href="http://localhost:5500/swan">

                    <button class="btn btn-outline-info  rounded-5 w-75 check">CHECK</button>
                </a>
            </div>
          </div>
    </div>
    <div class="col  h-50 w-50 shadow-lg my-2">
        <div class="row">
            <div class="col-3 mt-1 h-auto">
                <img src="imag2.jpeg" alt="" id="img">
            </div>
            <div class="col-9 mt-2 ">
                <h3>HOTEL Rubee</h3>
                <a>OPEN TIMING-11AM TO 11PM</a><br>
                <a>RATING-⭐⭐⭐⭐⭐</a><br>
                <br>
                <button class="btn btn-outline-info  rounded-5 w-75 check">CHECK</button>
            </div>
          </div>
    </div>
   </div>
    </div>
   </div>
            
            
            
            
        
            
            
            
          
            
            
</body>
</html>